.popup__input {
    border: none;
    width: 83%;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 7px;
    margin-bottom: 30px;
}

.popup__input:last-of-type {
    margin-bottom: 48px;
}